a {
    vertical-align: middle;    
}

.topnav {
    float: right;
    vertical-align: baseline;
    border: 1px solid black;
}

.botnav {
    border: 1px solid black;
}

.botnav-right {
    float: right;
}